body {
	padding-top:70px;
}
img {
	max-width:100%;
}

/*.dropdown:hover .dropdown-menu {*/
.dropdown .dropdown-menu {
	display:block;
}

.dropdown-menu {
	width:320px;
}

.mini-cart-product-image {
	max-width:68px;
}

.mini-cart .table>tbody>tr>td {
	vertical-align: middle;
}

.mini-cart .input-group {
	width:100px;
}

/* product */

.product-info {
	height:200px;
	overflow: hidden;
}

@media (min-width: 480px) {
	.dropdown-menu {
		width:380px;
	}	
}

